.fridge-container {
  box-sizing: border-box;
  justify-items: auto;
  display: flex;
  background-color: #F0B6D5;
  border: 1px solid #999;
  margin-top: 10px;
  border-radius: 50px;
  min-height: 900px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ingredients-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content:space-between ;
  left: 10px;
  border-top: 10px;
  width: 50%;
  box-sizing: border-box;
  box-shadow: 10px;
  border: 1px solid #999;
  padding: 50px;
  margin: 20px;
  position: relative;
  border-radius: 50px;
  background-color: #A7C7E7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 850px;
}

.right-container {
  /* flex: 0 1 50%; */
  /* gap: 2%; */
  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 50%;
  justify-content: space-between;
  border-radius: 50px;
  border: 1px black;
  margin-right: 20px;
}
.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 96%;
  border: 1px solid #999;
  border-radius: 50px;
  background-color: #A7C7E7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3%;
  margin-bottom: 4%;
  max-height: 748px;
}

.button {
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.addButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.addButton:hover {
  background-color: #367738; /* Green */
  color: white;
}


.editButton {
  background-color: #35baf6;
}

.editButton:hover {
  background-color:#278dbd;
  color: white;
}

.deleteButton {
  background-color: #FE6862;
}

.deleteButton:hover {
  background-color: #be4c48;
  color:white
}

.submitButton {
  background-color: #4CAF50;
}

.submitButton:hover {
  background-color: #367738;
  color:white
}

/* Right Side Container Buttons */

.getRecipeButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 100px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.getRecipeButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.standardRecipeButton {
  background-color: #00755E;
}
.standardRecipeButton:hover {
  background-color: #04b491;
  color: white;
}

.randomRecipeButton {
  background-color: #1982c4;
}
.randomRecipeButton:hover {
  background-color: #21a8fc;
  color: white;
}

.seasonalReciptButton {
  background-color: #4b3668;
}
.seasonalReciptButton:hover {
  background-color: #a678e6;
  color: white;
}
